
<p>
  <strong>Company name:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>Company address:</strong>
  <%= @company.company_address %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>


<p style="color: green"><%= notice %></p>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Age</th>
    <th>Contact no</th>
    <th colspan="2">Action</th>
  </tr>
  </thead>

  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.gender %></td>
      <td><%= employee.email %></td>
      <td><%= employee.age %></td>
      <td><%= employee.contact_no %></td>
      <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
      <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_emp' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</br>
<%= form_tag import_employee_companies_path, :method => 'post', :multipart => true  do %>
  <%= file_field_tag 'file', required: true, accept: ".csv" %>
  <%= hidden_field_tag :id, @company.id %>

  <%= submit_tag "Import" %>
<% end %>
